<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>404 Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/errors.css">
    <link rel="shortcut icon" href="https://static.zhihu.com/static/img/favicon.ico">
</head>
<body>
    <div class="page">
        <div class="error">
            <h1 class="header">
            404
            </h1>
            <div class="content">
                <p>
                    <strong>。。。网站建设中。。。</strong>
                </p>
                <p>来源链接是否正确？帖子或用户是否存在？</p>
                    <hr>
                <p>
                    <span>返回</span>
                    <a href="{{ url_for('sim_bp_topic.index') }}">论坛首页</a>
                    <span>或</span>
                    <a href="{{ url_for('index.profile') }}">个人主页</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>